body{
    margin: auto;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: flex;
}
.container-fluid{
    margin: auto;
    padding: 0;
    background: url(fejleckep7.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.row{
    width: 100%;
    padding: 0;
    margin: 0;
}
.baloldalnav{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0;
    background-color: transparent;
    background-color: whitesmoke;
    margin-right: 50px;
    min-height: 100vh;
}
.elsosor{
    height: fit-content;
    justify-content: space-between;
}
.baloldal{
    border: 1px solid rgba(0, 0, 0, 0.899);
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    padding: 2px;
    margin: 30px;

}
.perper{
    color: grey;
    font-weight: bold;
}
#flex{
    display: flex;
    background: linear-gradient(90deg, rgba(253,98,98,1 ) 5%, rgba(18,2,20,1) 100%);
    font-style: bolder;
    color: white;
    padding: 10px;
    border-bottom: 3px solid black;
    gap: 30px;
}
#flex img{
    height: 75px;
    width: 75px;
}
.baloldalnav ol{
    padding: 0;
    font-weight: bold;
    color: rgba(22, 23, 26, 1);
}

.ebbekerulminden ol{
    margin-left: 45px;
    position: relative;
}
.keretescim{
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 750px;
    max-width: 100%;
    background: linear-gradient(90deg,  rgba(253,98,98,1 ) 5%, rgba(18,2,20,1) 100%);
    height: fit-content;
    margin-top: 100px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}
.keretesfocim{
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 750px;
    background: linear-gradient(90deg,  rgba(253,98,98,1 ) 5%, rgba(18,2,20,1) 100%);
    height: fit-content;
    margin-top: 100px;
    color: #2f6daf;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 35px;
}

.ebbekerulminden{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
.cim_alatt{
    border: #FD6262 3px solid;
    color: #FD6262;
    height: 35px;
    font-size: 18px;
    width: 150px;
    text-align: center;
    margin:25px 25px 25px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in-out;
}
.cim_alatt:hover {
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FD6262;
    color: whitesmoke;
    border: #FD6262;
    text-decoration: underline;
}
.sor{
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    position: relative;
    padding: 0;
    justify-content: center;

}
.title h1{
    text-decoration: underline;
    color: #FD6262;
    padding: 0;
}
.toogle{
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    font-size: 150%;
    background-color: white;
    border-top: #FD6262 solid 2px;
    border-right: #FD6262 solid 2px;
    border-left: #FD6262 solid 2px;
    border-bottom: #FD6262 solid 2px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    
}

.balcim{
    font-size: 25px;
    font-weight: bold;
    color: rgba(22, 23, 26, 1);
}

.baloldal button{
    border: none;
    background: transparent;
}

.balalcim{
    font-weight: bold;
}

.hidden {
    display: none;
}

.balcim:hover{
    text-decoration: underline;
}

.balcimshown{
    color: #FD6262;
}

.alli{
    list-style: none;
}

.balalcim:hover{
    text-decoration: underline;
}

.resultbox{
    margin-top: 15px;
    display: flex;
}
.kozep{
    text-align: center;
}
.resultborder{
    border: 3px solid #FD6262;
    border-radius: 10px;
    padding: 5px 20px 5px 30px;
    margin-bottom: 50px;
    background-color: whitesmoke;
    overflow:auto;
    white-space:inherit;
    text-overflow: clip;
}


.chosen{
    border: #FD6262 3px solid;
    color: whitesmoke;
    height: 35px;
    font-size: 18px;
    width: 150px;
    text-align: center;
    margin:0 25px 0 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in-out;
    background: #FD6262;
}

.chosen:hover{
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
    background-color: whitesmoke;
    color: #FD6262;
    border: #FD6262 3px solid;
    text-decoration: underline;
}

.contentp{
    font-size: 30px;
}

.contentimg{
    height: 125px;
    width: 125px;
    border: 3px solid #FD6262;
    border-radius: 10px;
}

.chosenalli{
    color: #FD6262;
}

.baseheadtitle{
    color: #FD6262;
}

.checkspan {
    float: right;
}

.checkbtn {
    border-radius: 10px;
    color:#FD6262;
    font-weight: bold;
    border: #FD6262 3px solid;
    transition: 0.25s ease-in-out;
}

.checkbtn:hover{
    transform: scale(1.1);
    background-color: #FD6262;
    color: whitesmoke;
    text-decoration: underline;
}

.checkedbtn {
    border-radius: 10px;
    color: whitesmoke;
    background-color: #FD6262;
    font-weight: bold;
    border: #FD6262 3px solid;
    transition: 0.25s ease-in-out;
}

.checkedbtn:hover{
    transform: scale(1.1);
    background-color: whitesmoke;
    color: #FD6262;
    text-decoration: underline;
}

tr{
    border-bottom: 2px solid black;
}
td{
    padding: 20px;
}
td:nth-child(1){
    border-right: 2px black solid;
}
td:nth-child(2){
    border-right: 2px black solid;
}

#menu-open{
    display: none;
}
#menu-close{
    display: none;
}
.lat{
    display: flex;
}
/*1410*/

@media (min-width:951px)  and (max-width:1200px){
    .sor{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .cim_alatt{
        flex: 40%;
    }
}
@media (max-width: 950px) {
    .contentp{font-size: 20px;}
    .cim_alatt{
        flex: 40%;
    }
    .ebbekerulminden{
        flex: 100%;
        margin: 0 auto;
    }
    #menu-open{
        display: none;
    }
    .baloldalnav{
        display: none;
        max-height: fit-content;
        max-width: 420px;
        min-width: 300px;
    }
    .baloldalnav.lat{
        display:initial;
    }
    #menu-open.lat{
        display: flex;
    }
    #menu-close{
        display: none;
        margin-right: -15px;
    }
    #menu-close.lat{
        display: flex;
    }

}
    

